PROJECT_NAME=archive-processor-web
SSCURL=https://fortify.1dc.com/ssc
SSCPROJECT="UAID-00594 / IDS Document Input Management"
SSCVERSION=ArchiveProcessor_1.0
BUILDID=EIDS-RP-AUG-29-19
SSCTOKEN=bf949b3f-c599-4ffc-8240-783e277d1301
EMAIL=susovan.gumtya@firstdata.com
FORTIFY=TRUE
WEBINSPECT=FALSE
WEBINSPECT_URL=https://your-app.1dc.com/Context
